* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;

}

body {
    background-color: #a897ed;
}

.testapp {
    width: 80vmin;
    padding: 50px 30px;
    background-color: #ffffff;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
}

.stats {
    text-align: right;
    font-size: 18px;
    margin-bottom: 30px;
}

span {
    font-weight: 600;
}

textarea {
    width: 100%;
    resize: none;
    border-radius: 5px;
    padding: 10px 5px;
    font-size: 16px;

}

button {
    float: right;
    margin-top: 20px;
    background-color: #a897ed;
    color: #ffffff;
    border: 1px solid;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 200;
}

.result {
    margin-top: 40px;
    display: none;
}

.result h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;

}

.wrapper {
    display: flex;
    justify-content: space-around;

}

.wrapper span {

    font-weight: 600;
}

.success {
    color: green;
}

.fail {
    color: red;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    /* Adjust background color as needed */
    text-align: center;
    padding: 10px 0;
    /* Adjust padding as needed */
}